[[extend 'layout.html']]

<div class="section">
   <!-- Put the table here -->
   <h1 class = "title">Birds</h1>

   <table class = "table">
      <thead>
         [[for i in information:]]
         <th>[[=i]]</th>
         [[pass]]
      </thead>
      <tbody>
      [[for d in data:]]
         <tr>
         [[for j in d:]]
            <td>[[=d[j] ]]</td>
         [[pass]]
         </tr>
      [[pass]]
      </tbody>
   </table>

</div>
